nav {
  color: #f5e9d3;
  line-height: 200%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1d1109;
  background: linear-gradient(purple, #f5e9d3);
  background-color: #f5e9d3;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

main p {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #0f0701;
}

#aboutimg {
  padding-left: 50px;
}

#contactimg {
  padding-left: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding-left: 0.25em;
  padding-right: 0.25em;
  flex-basis: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: space-around;
  align-items: baseline;
}

.row {
  display: flex;
}

body h2 {
  padding-left: 115px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  header {
    background-size: cover;
    background-position: right bottom;
    color: #1d1109;
  }

  .col {
    flex-basis: 50%;
  }

  body h2 {
    padding-left: 0;
    text-align: center;
    font-style: bold;
  }

  body h3 {
    padding-left: 0;
    text-align: center;
    font-style: bold;
  }

  #aboutimg {
    float: center;
    padding-left: 30px;
    padding-right: 50px;
  }

  #contactimg {
    float: right;
    padding-left: 30px;
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .col {
    flex-basis: 33%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
